@import url(/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

:root {
    --Tomato: hsl(4, 100%, 67%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --White: hsl(0, 0%, 100%)
}

.desktop {
    display: none;
}





.titlePrincipal {
    font-size: 50px;
    font-weight: 700;
    color: var(--Dark-Slate-Grey);
    padding: 26px 0;
    margin: 0;
}

.textH1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Dark-Slate-Grey);
    padding-bottom: 25px;
    margin: 0;
}

.containInfo {
    padding: 25px;
}


.containCheck {
    margin: 0 0 20px 0;
}

ul {
    padding: 0 30px;
    list-style-image: url(../img/icon-list.svg);
    color: var(--Dark-Slate-Grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

ul>li {
    padding-left: 14px;
    font-weight: 400;
}

.containInput {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--Dark-Slate-Grey);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

::placeholder {
    font-size: 16px;
    padding-left: 18px;
    color: rgb(200, 199, 199);
}

input {
    height: 2.8rem;
    border-radius: 0.4rem;
    border: solid 1px rgb(217, 215, 215);
    margin-bottom: 20px;
}

button {
    height: 3rem;
    border-radius: 0.4rem;
    width: 100%;
    border: none;
    background-color: var(--Dark-Slate-Grey);
    color: white;
    font-weight: 500;
    font-size: 16px;
}

#contenedor2 {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;

}

.iconList {
    height: 50px;
    font-size: 60px;
}

.titleTwo {
    font-size: 40px;
    font-weight: bold;
    color: var(--Dark-Slate-Grey);
    margin: 30px 0;
}

.text3 {
    color: var(--Dark-Slate-Grey);
    line-height: 24px;
}

.text3a {
    text-decoration: none;
    color: var(--Dark-Slate-Grey);
    font-weight: 500;

}

.buttonTwo {
    margin-top: 100px;

}

@media screen and (min-width: 768px) {

    body {
        background-color: var(--Dark-Slate-Grey);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }


    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        margin-right: 30px;

    }

    .containInfo,
    .containImgMobile {
        background-color: var(--White);
        width: 400px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .containInfo {
        height: 550px;
        border-radius: 2rem 0 0 2rem;
        padding: 25px 50px;
    }

    .containImgMobile {
        border-radius: 0 2rem 2rem 0;
    }

    #contenedor2 {
        background-color: var(--White);
        border-radius: 2rem;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 45px;
        margin: 38%;
    }

    .titleTwo {
        font-size: 50px;
    }

    .buttonTwo {
        margin-top: 30px;
    }
}